.wpcf7-form {
  br {
    display: none;
  }

  label {
    font-size: 18px;
  }

  p {
    margin-bottom: 20px;
  }
}

.wpcf7-response-output {
  margin: 0 !important;
  padding: 15px 30px !important;
  border-radius: 15px;
}