.MediaThumbnail__root {
  background-color: transparent !important;

  img,
  video {
    border-radius: 10px !important;
  }
}

.MediaTile__overlay {
  display: none;
}

.MediaTileIcons__icon svg {
  width: 16px !important;
  height: 16px !important;
}

.MediaTileIcons__icon {
  margin-top: 15px !important;
}

.MediaTileIcons__icon:not(:last-child) {
  margin-right: 50px !important;
}

.FeedHighlightLayout__cell {
  transition: all 400ms ease;

  &:hover {
    transform: translateY(-5px);
  }
}

body .MediaThumbnail__image, div.MediaThumbnail__root {
  width: auto !important;
  transition: all 200ms ease;

  &:hover {
    opacity: 0.8;
  }
}

@media (max-width: 768px) {
  .MediaTileIcons__icon:not(:last-child) {
    margin-right: 25px !important;
  }
}