.mm-welcome {
  #store,
  #student,
  #monkey,
  #cafe {
    cursor: pointer;
  }

  #night {
    transition: all 250ms ease;
  }

  .elementor-background-overlay,
  p,
  h1.elementor-heading-title,
  h2.elementor-heading-title {
    transition: all 250ms ease;
  }

  .mm-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }

  .stars {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 250ms ease;
    opacity: 0;
    visibility: hidden;

    img {
      max-width: none;
      height: 50vh;
      width: auto;
    }
  }

  .moon {
    position: absolute;
    top: 50%;
    margin-top: -75px;
    width: 175px !important;
    opacity: 0;
    visibility: hidden;
    transition: all 400ms ease-in-out;

    img {
      width: 100%;
    }
  }

  .mm-clouds {
    position: relative;
    width: 2560px;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -150px;
    transition: all 250ms ease;
  }

  .mm-town-wrapper {
    height: 560px;
    position: relative;
  }

  .mm-town {
    position: absolute;
    bottom: 0;
    width: 5314px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 1366px) {
  .mm-welcome {
    .mm-clouds {
      width: 2126px;
    }

    .mm-town-wrapper {
      height: 540px;
      margin-top: -150px;
    }

    .moon {
      margin-top: -40px;
      width: 150px !important;
    }
  }
}

@media (max-width: 1024px) {
  .mm-welcome {
    .mm-clouds {
      width: 1700px;
      height: 266px;
    }

    .mm-town-wrapper {
      height: 435px;
      margin-top: -35px;
    }

    .moon {
      margin-top: 0;
      width: 125px !important;
    }
  }
}

@media (max-width: 768px) {
  .mm-welcome {
    .mm-town-wrapper {
      height: 420px;
    }
  }
}

@media (max-width: 575px) {
  .mm-welcome {
    .mm-clouds {
      width: 996px;
      height: 151px;
    }

    .mm-town-wrapper {
      height: 350px;
    }

    .moon {
      margin-top: 25px;
      width: 115px !important;
    }

    .stars {
      img {
        height: 85vh;
      }
    }
  }
}

// Elementor live edit.
.elementor-editor-active {
  &:not(.mm-night-mode) {
    .mm-welcome {
      .moon {
        opacity: 0.5;
        visibility: visible;
      }

      .stars {
        opacity: 0.5;
        visibility: visible;
      }
    }
  }
}

// Night mode.
body:not(.mm-night-mode) {
  .mm-welcome {
    #night {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.mm-night-mode {
  .mm-welcome {
    #night {
      opacity: 1;
      visibility: visible;
    }

    .moon {
      opacity: 1;
      visibility: visible;
      transform: translateY(-125px);
    }

    .stars {
      opacity: 1;
      visibility: visible;
    }

    .elementor-background-overlay {
      background: #020F4E !important;
    }

    p,
    h1.elementor-heading-title,
    h2.elementor-heading-title {
      color: #fff !important;
    }
  }

  .mm-clouds {
    opacity: 0;
    visibility: hidden;
  }
}