*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary: #1E2868;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;

  &.elementor-page {
    font-family: var(--e-global-typography-text-font-family);
  }

  &:not(.elementor-page) {
    font-family: 'Source Serif Pro', serif;
  }

  &.menu-active {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'astounder-squared-bb', sans-serif;
  color: #1E2868;
}

p {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;

  &:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
  }
}

.mm-loader {
  svg {
    width: 75px;
    height: 75px;
  }

  path,
  rect {
    fill: $secondary;
  }
}