$header-gutter: 15px;
$header-gutter-val: $header-gutter / 2; // Don't edit this!

.site-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  z-index: 40;
}

.site-branding {
  flex: 0 0 190px;
  max-width: 190px;
  padding-right: $header-gutter-val;

  .custom-logo-link {
    display: block;
    font-size: 0;

    img {
      height: auto;
      width: 100%;
    }
  }
}

.header-search {
  flex: 0 0 60%;
  max-width: 60%;
  width: 100%;
  padding-left: 7.5px;
  padding-right: 7.5px;

  form,
  .search-field {
    display: block;
    width: 100%;
  }

  form {
    border-radius: 30px;
    background-color: #fff;
    background-color: rgba(#fff, 30%);
    position: relative;
    max-width: 700px;
    margin: 0 auto;
  }

  .search-field {
    border: 0;
    padding: 11px 11px 11px 40px;
    background: none;
    transition: all 250ms;
    border-radius: 30px;
    color: #fff;

    &::placeholder {
      color: #fff;
    }

    &:-ms-input-placeholder {
      color: #fff;
    }

    &::-ms-input-placeholder {
      color: #fff;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 4px rgb(#fff, 40%);
    }
  }

  .search-submit {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    background-image: url(../img/sprite.svg);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}

.header-menu-wrapper {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: calc(60% - 95px);
  max-width: calc(60% - 95px);
  display: flex;
  align-items: center;
  padding-left: $header-gutter-val;
  padding-right: $header-gutter-val;

  .hamburger {
    @include flexCenterAll;
    background: none;
    cursor: pointer;
    border: 0;
    width: 55px;
    height: 55px;
    transition: all 250ms;
    border-radius: 5px;
    margin-left: auto;
    position: relative;
    z-index: 110;
    display: none;

    &:hover {
      background-color: rgba(#fff, 10%);
    }
  }

  .main-navigation {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background-color: #fff;
    box-shadow: -1px 1px 20px 10px rgb(0 0 0 / 10%);
    padding: 30px;
    text-align: center;
    background-image: linear-gradient(180deg, #125BB7 0%, #62A7F780 52%, #1AECFF00 100%);
    transform: translateX(110%);
    transition: all 350ms;

    & > * {
      margin-bottom: 50px;
    }
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      a {
        display: block;
        font-size: 16px;
        font-weight: 600;
        color: var(--primary);
        text-decoration: none;
        padding: 5px 0;
      }
    }
  }

  .widget-title {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 50px;
  }

  .desktop-menu {
    text-align: right;

    ul {
      li {
        display: inline-block;
        margin: 0 7.5px;

        a {
          color: #fff;
        }
      }
    }
  }
}

.night-mode-wrapper {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: calc(40% - 95px);
  max-width: calc(40% - 95px);
  padding-left: $header-gutter-val;
  display: flex;
  justify-content: flex-end;
}

.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb( 0 0 0 / 30%);
  z-index: 30;
}

.menu-active {
  .menu-overlay {
    display: block;
  }

  .header-menu-wrapper .main-navigation {
    transform: none;
  }
}

@media (max-width: 991px) {
  .site-branding {
    flex: 0 0 150px;
    max-width: 150px;
  }

  .header-menu-wrapper {
    flex-basis: calc(60% - 75px);
    max-width: calc(60% - 75px);
  }

  .night-mode-wrapper {
    flex: 0 0 calc(40% - 75px);
    max-width: calc(40% - 75px);
  }
}

@media (max-width: 768px) {
  .site-header {
    padding: 10px;
  }

  .site-branding {
    order: 1;
  }

  .header-menu-wrapper {
    flex-basis: 55px + $header-gutter-val;
    max-width: 55px + $header-gutter-val;
    padding-right: 0;
    order: 3;
    justify-content: flex-end;

    .main-navigation {
      width: 100%;
    }

    .desktop-menu {
      display: none;
    }

    .hamburger {
      display: flex;
    }
  }

  .night-mode-wrapper {
    justify-content: flex-end;
    margin-left: auto;
    order: 2;
  }

  .header-search {
    display: none;
  }

  .menu-overlay {
    opacity: 0;
    visibility: hidden;
  }
}