.admin-bar {
  .header-menu-wrapper .main-navigation,
  .menu-overlay,
  .site-header {
    top: 32px;
  }
}

@media (max-width: 782px) {
  .admin-bar {
    top: 0;

    .header-menu-wrapper .main-navigation,
    .menu-overlay,
    .site-header {
      top: 46px;
    }
  }
}
